<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<title>Home</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	{{>nav}}

	<!-- Search UI -->
	<header class="background-img">
		<div class="container pt-5">
			<div class="option-block">
				<h1 class="text-yellow ">
					Find
					<span id="change-color">What</span>
					you are Looking For
				</h1>
				<div id="options" class="row">
					<div id="professor" class="col-3">
						<h2>Professor</h2>
					</div>
					<div id="school" class="col-3">
						<h2>School</h2>
					</div>
					<div id="rate" class="col-3">
						<h2>Rate</h2>

						<!-- <h2><a href="">Rate</a></h2> -->
					</div>
				</div>
			</div>
			<div class="search-block">
				<div align="center" class="search-prof pb-5">
					<h2>Find a Professor</h2>
					<div id="search-prof">
						<div class="form-group mb-1">
							<label>I'm looking for a professor at</label>
							<input placeholder="Your School" type="search" class="school form-control" />
							<div class="text-danger missing missingSchool" hidden>^This Field is required</div>
						</div>
						<div class="form-group">
							<label>named</label>
							<input placeholder="Professor's name" type="search" class="name form-control" />
							<div class="text-danger missing missingName" hidden>^This Field is required</div>
						</div>
						<button id="search1" type="submit" class="btn btn-info btn-block">Submit</button>
						<br />
						<a href="#">Cancel</a>
					</div>
				</div>
				<div align="center" class="search-school">
					<h2>Find your School</h2>
					<div id="search-school">
						<div class="form-group">
							<label>Find your school</label>
							<input placeholder="School Name" type="search" class="school form-control" />
							<div class="text-danger missing" hidden>^This Field is required</div>
							<div class="suggesstion-box"></div>
						</div>
						<button id="search2" type="submit" class="btn btn-info btn-block">Submit</button>
						<br />
						<a href="#">Cancel</a>
					</div>
				</div>
				<div align="center" class="rate-prof">
					<h2>Rate your Professor</h2>
					<div id="rate-prof">
						<div class="form-group">
							<label>Rate your Professor</label>
							<input placeholder="Professor's name" type="search" class="name form-control" />
							<div class="text-danger missing" hidden>^This Field is required</div>
						</div>
						<button id="search3" type="submit" class="btn btn-info btn-block">Submit</button>
						<br />
						<a href="#">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	{{!-- Carousel --}}

	<div class="mt-5 caro">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active image">
					<img class="d-block w-75" src="http://www.eee.iub.edu.bd/images/iub.png" alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<h3>IUB</h3>

					</div>
				</div>
				<div class="carousel-item image">
					<img class="d-block w-75" src="https://daily-sun.com/assets/news_images/2016/07/14/campus.jpg" alt="Second slide">
					<div class="carousel-caption d-none d-md-block">
						<h3>NSU</h3>

					</div>
				</div>
				<div class="carousel-item image">
					<img class="d-block w-75" src="https://engg.aiub.edu/Files/Uploads/slides/1.jpg" alt="Third slide">
					<div class="carousel-caption d-none d-md-block">
						<h3>AIUB</h3>

					</div>
				</div>
				<div class="carousel-item image">
					<img class="d-block w-75" src="http://www.brac.net/images/news/2019/brac-uni-pr-front.jpg" alt="Third slide">
					<div class="carousel-caption d-none d-md-block">
						<h3>BRAC</h3>
					</div>
				</div>
				<div class="carousel-item image">
					<img class="d-block w-75" src="https://u01.appmifile.com/images/2018/11/23/fbcef6d2-43bc-4061-b4ee-55f13cf80848.jpg" alt="Third slide">
					<div class="carousel-caption d-none d-md-block">
						<h3>EWU</h3>

					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	{{!-- Chat --}}

	<button class="open-button" onclick="openForm()"> <i class="fab fa-facebook-messenger fa-2x" style="color:rgba(42, 41, 129, 0.699);"></i></button>
	<div class="chat-popup" id="myForm">



		<div class="form-container">
			<label for="msg"><b>Message</b></label>
			<textarea placeholder="Type message.." id="msg" name="msg" required></textarea>
			<ul class="list-unstyled" id="messages"></ul>
			<div>
				<button type="button" id="submit" class="btn">Send</button>
				<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
			</div>
		</div>
		<script>
			function openForm() {
				document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
				document.getElementById("myForm").style.display = "none";
			}
		</script>


		</section>
		</section>
		<!--Jquery code of chatbox-->
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
			var socket = io();
			$('#submit').click(function (e) {
				console.log('msg');
				//e.preventDefault(); // prevents page reloading
				socket.emit('chat message', $('#msg').val());
				$('#msg').val('');
				return false;

			});
			$(function () {
				/*	var socket = io();
				//	$('#submit').click(function (e) {
						console.log(msg);
						//e.preventDefault(); // prevents page reloading
						socket.emit('chat message', $('#msg').val());
						$('#msg').val('');
						return false;
	
					});
	*/
				socket.on('chat message', function (msg) {
					//console.log(msg);
					$('#messages').append($('<li>').text(msg));
				});
			});
		</script>

		{{>scripts}}
		<script src="/script/index-script.js"></script>
</body>

</html>