<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Search Result</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />

  <link href="/css/prof_search_result_style.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/4b009e3983.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- navbar -->
  {{>nav}}

  <section id="body">
    <div class="mt-5 container bg-light">
      <h1>Oops! There is no search result for "{{searchKey}}", click <a href="/home">here</a> to go back and redefine your Search! </h1>
    </div>
  </section>

  <!-- Scripts -->

  {{>scripts}}
  <script src="/script/prof_search_result__script.js"></script>
</body>

</html>