<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Search Result</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />

	<link href="/css/prof_search_result_style.css" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/4b009e3983.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- navbar -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 sticky-top">
		<div class="container">
			<a class="navbar-brand" href="/home">
				<img src="/img/Logo.PNG" id="logo" alt="" />
			</a>
			<form autocomplete="off" class="nav-form form-inline">
				<input id="search" class="form-control mr-sm-2" type="search" placeholder="Search for a Professor or School" aria-label="Search" />
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
			</form>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/login">LOG IN / SIGN UP</a>
				</li>
			</ul>
		</div>
	</nav>

	<section id="body">
		<div class="container container2">
			<table class="table table-striped table-borderless">
				<thead>
					<tr id="border-top-bottom">
						<th class="smaller pad-left" scope="col">Category</th>
						<th scope="col">Name</th>
					</tr>
				</thead>
				<tbody>
					{{#each info}}
					<tr id="{{this._id}}">
						<th scope="row"><i class="fas fa-user-tie"></i> Professor</th>
						<td>{{this.name}}</td>
					</tr>
					{{/each}}


				</tbody>
			</table>
		</div>
	</section>

	<!-- Bottom Navbar -->
	<nav class="navbar fixed-bottom navbar-light bg-light">
		<a class="navbar-brand" href="/home">Didn't find what you were looking for? Click here to go back and search again!</a>
	</nav>

	<!-- Scripts -->

	<script src="/script/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="/script/prof_search_result__script.js"></script>
</body>

</html>