.bg-pink {
	background: rgb(255, 155, 171);
}

.bg-blue {
	background: #fda839;
	font-weight: bolder;
}

.text-muted2 {
	color: #3d3d3d;
}

body {
	padding-bottom: 100px;
	background: rgb(211, 211, 211);
}

.navbar-brand {
	width: 20%;
}

#logo {
	width: 100%;
	height: auto;
}

#search {
	width: 30rem;
	height: 2rem;
	background-color: rgba(88, 86, 86, 0.644);
	color: white;
}

.btn.btn-outline-light {
	line-height: 1px;
	height: 2rem;
}

.container2 {
	margin-top: 40px;
}

#name {
	padding-top: 30%;
}

.container3 {
	margin-top: 30px;
}

.btn1 {
	padding: 15px !important;
	font-size: larger;
}

.btn1:hover {
	background-color: limegreen;
}

.img-fluid {
	max-width: 90%;
}

.container4 {
	margin-top: 30px;
}

.col-4 {
	text-align: center;
}

.col-2 {
	text-align: center;
}

.tag {
	display: block;
	float: left;
	padding: 5px 7px;
	width: auto;
	background: #e5e5dd;
	color: #797979;
	font-weight: 700;
	font-family: 'Source Sans Pro';
	text-decoration: none;
	font-size: 14px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.choose-tags {
	float: left;
	clear: both;
	font-family: 'Source Sans Pro Semibold';
	text-decoration: none;
	font-size: 14px;
	margin-top: 15px;
	color: white;
	background: #00adee;
	letter-spacing: 0.07em;
	display: block;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}

.choose-tags:hover {
	text-decoration: none;
}

#choose-tags .tags a {
	display: block;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	background: #b8b8b3;
	color: #fff;
	font-family: 'Source Sans Pro Black';
	letter-spacing: 0.14em;
	text-decoration: none;
	font-size: 12px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.tags {
	overflow-y: auto;
	width: 100%;
	display: block;
}

#comments {
	margin-top: 40px;
}

.rating-block,
.breakdown {
	display: block;
}

table tbody tr th,
table tbody tr td {
	text-align: left;
}

table {
	font-size: larger;
}

.rating {
	width: 30%;
}
.class {
	width: 25%;
}
.comments {
	width: 65%;
}

.emoji,
.rating-type {
	float: left;
}

.rating-type {
	margin-left: 20px;
}

.score {
	float: left;
	clear: both;
}

.breakdown {
	float: left;
	clear: both;
}

.descriptor-container {
	display: table;
}

.descriptor {
	margin-left: 20px;
}

/* ------------------added this css------------------- */

img {
	width: 100%;
	height: 100%;
}

.bg-black {
	color: #fff;
	background: #000;
}

.port-item {
	width: 40%;
}
.port-item:hover {
	opacity: 0.8;
	cursor: pointer;
}
.table-header {
	background: #167f92;
}

table tbody tr {
	background: white;
}
.text-color {
	color: rgb(19, 98, 112);
}

.text-color1 {
	background: rgb(218, 246, 251);
}

tr {
	border: 4px solid #fff;
}
td {
	border: 4px solid #fff;
}
th {
	border: 4px solid #fff;
}

#choose-tags .tags a:hover {
	background-color: #167f92;
	opacity: 0.8;
	cursor: pointer;
}

.text-size {
	font-size: 1.2em;
}

.tag1 {
	display: block;
	float: left;
	padding: 5px 7px;
	width: auto;
	background: #9dc7e2;
	color: rgb(5, 61, 71);
	font-weight: 700;
	font-family: 'Source Sans Pro';
	text-decoration: none;
	font-size: 14px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.capitalize {
	text-transform: capitalize;
}
