.tag-toggle {
	background-color: #ccff33 !important;
}

.rating {
	margin-left: 9%;
}

.navbar-brand {
	width: 20%;
}

#logo {
	width: 100%;
	height: auto;
}

#search {
	width: 30rem;
	height: 2rem;
	background-color: rgba(88, 86, 86, 0.644);
	color: white;
}

.background-img {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
	margin-top: -1rem;
}

h1.text-yellow {
	color: rgb(255, 255, 0);
	text-align: center;
}

#change-color {
	color: lawngreen;
}

.col-3 h2 {
	color: white;
	text-align: center;
	/* display: inline-block; */
}

.col-3:hover {
	background: rgb(255, 136, 0);
	cursor: pointer;
}

.col-3 {
	margin-left: 2rem;
	background: rgba(0, 0, 0, 0.726);
	padding: 1rem;
	/* border: 1px solid red; */
}

#options {
	margin-left: 8rem;
	margin-top: 4rem;
}

.col-3 a {
	text-decoration: none;
}

.btn.btn-outline-light {
	line-height: 1px;
	height: 2rem;
}

.search-block {
	margin: auto;
	width: 25%;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gainsboro;
}

input::placeholder {
	text-align: center;
}

.form-group label {
	/* font-weight: bold; */
	font-size: 1.3rem;
}

.form-group input {
	text-align: center;
	border-radius: 2px !important;
	height: 3rem !important;
}

.search-block h2 {
	margin-bottom: 2rem;
	font-weight: bold;
	font-size: 3rem;
}

.btn-block {
	border-radius: 2px !important;
	color: black;
}
/* 
         Rview Page Work Starts From Here */

/* //jumbotron */
#Jcolor {
	color: #32a2a8;
}
#jumbotron {
	padding-top: 100px;
}
.item {
	display: inline-block;

	padding: 1rem;
	padding-top: 1rem;
	border: 1px;
	height: 200px;
	width: 300px;
	text-align: center;
}

h3 {
	color: #32a2a8;
}
.parent {
	display: inline;
}
h1 {
	color: #32a2a8;
	margin-left: 50px;
}
ol {
	color: rgb(16, 151, 16);
	font-size: 30px;
	font-weight: bold;
	margin-left: 50px;
}
#Rating {
	margin-bottom: 10px;
}
select {
	margin-left: 150px;
}
.star-rating {
	line-height: 32px;
	font-size: 1.25em;
}

.star-rating .fa-star {
	color: rgb(0, 204, 255);
}

.star {
	line-height: 32px;
	font-size: 1.25em;
}

.star .fa-star {
	color: rgb(0, 204, 255);
}
#container {
	padding-left: 500px;
}
#radio {
	margin-left: 200px;
}
#Submit {
	color: ghostwhite;
	background-color: cornflowerblue;
	margin-left: 450px;
}
.tag-holder a {
	display: block;
	background: gray;
	color: white;
	float: left;
	padding: 5px 7px;
	width: auto;
	font-size: 14px;
	margin-bottom: 5px;
	margin-right: 5px;
}
body a {
	cursor: pointer;
	color: rebeccapurple;
}
.form-element.tagger {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding-top: 30px;
	padding-bottom: 30px;
}
.form-element {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	position: relative;
}
.form-element.comment-box {
	float: left;
	margin-right: 0px;
}
.form-control {
	width: 20%;
}
